# Defaults owners for everything in the repo. unless a later match
# takes precedence
*       @strata-org/reviewers

# CSimp dialect files
*.csimp.st    @andrewmwells-amazon @shigoel

# Boogie dialect files
*.boogie.st    @atomb @MikaelMayer

# Tools
/Tools/BoogieToStrata/ @atomb @MikaelMayer
/Tools/Python @andrewmwells-amazon @aqjune-aws @joehendrix

# DDM
/Strata/DDM/ @joehendrix @shigoel @aqjune-aws
/StrataTest/DDM/ @joehendrix @shigoel @aqjune-aws

# Dialects
/Strata/DL/Lambda/ @shigoel @atomb @aqjune-aws
/StrataTest/DL/Lambda/ @shigoel @atomb @aqjune-aws

/Strata/DL/Imperative/ @atomb @shigoel @aqjune-aws
/StrataTest/DL/Imperative/ @atomb @shigoel @aqjune-aws

/Strata/DL/SMT/ @andrewmwells-amazon @atomb

/Strata/DL/Utils/ @shigoel @atomb @aqjune-aws

# Languages
/Strata/Languages/Boogie/ @atomb @shigoel @MikaelMayer
/StrataTest/Languages/Boogie/ @atomb @shigoel @MikaelMayer

/Strata/Languages/C_Simp/ @andrewmwells-amazon @shigoel

/Strata/Transform/ @atomb @andrewmwells-amazon

# Documentation
/docs/ddm/ @joehendrix @shigoel @aqjune-aws
